<!-- fiche-add.component.html -->
<!-- content @s -->
<div class="nk-content">
    <div class="container-fluid">
      <div class="nk-content-inner">
        <div class="nk-content-body">
          <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
              <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">WorkWave Academy</h3>
              </div>
            </div>
          </div>
          <div class="nk-block">
            <div class="card">
              <div class="card-inner">
                <h5 class="card-title">Modifier une fiche</h5>
                <form [formGroup]="ficheForm" (ngSubmit)="editFiche()" class="gy-3 form-settings">
                  <div class="row g-3 align-center">
                    <div class="col-lg-5">
                      <div class="form-group">
                        <label class="form-label" for="question">Question</label>
                        <span class="form-note">Veuillez préciser la question de la fiche.</span>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="form-group">
                        <div class="form-control-wrap">
                          <input formControlName="Question" type="text" class="form-control" id="question">
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row g-3">
                    <div class="col-lg-5">
                      <div class="form-group">
                        <label class="form-label" for="reponse">Réponse</label>
                        <span class="form-note">Veuillez préciser la réponse de la fiche.</span>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="form-group">
                        <div class="form-control-wrap">
                          <input formControlName="Reponse" type="text" class="form-control" id="reponse">
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row g-3">
                    <div class="col-lg-5">
                      <div class="form-group">
                        <label class="form-label" for="categorie">Catégorie</label>
                        <span class="form-note">Veuillez préciser la catégorie de la fiche.</span>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="form-group">
                        <div class="form-control-wrap">
                          <input formControlName="Categorie" type="text" class="form-control" id="categorie">
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="row g-3">
                    <div class="col-lg-7 offset-lg-5">
                      <div class="form-group mt-2">
                        <button [disabled]="ficheForm.invalid" type="submit" class="btn btn-lg btn-primary">Modifier</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content @e -->
  