<div class="container-fluid">
    <div class="nk-header-wrap">
        <div class="nk-menu-trigger d-xl-none ms-n1">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em
                    class="icon ni ni-menu"></em></a>
        </div>
        <div class="nk-header-brand d-xl-none">
            <a href="html/index.html" class="logo-link">
                <img class="logo-light logo-img" src="../../assets/images/logo.png"
                    srcset="../../assets/images//logo2x.png 2x" alt="logo">
                <img class="logo-dark logo-img" src="../../assets/images/logo-dark.png"
                    srcset="../../assets/images//logo-dark2x.png 2x" alt="logo-dark">
            </a>
        </div><!-- .nk-header-brand -->
        <div class="nk-header-search ms-3 ms-xl-0">
            <em class="icon ni ni-search"></em>
            <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search anything">
        </div><!-- .nk-header-news -->
        <div class="nk-header-tools">
            <ul class="nk-quick-nav">

                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle me-n1" data-bs-toggle="dropdown">
                        <div class="user-toggle">
                            <div class="user-avatar sm">
                                <em class="icon ni ni-user-alt"></em>
                            </div>
                            <div class="user-info d-none d-xl-block">
                                <div class="user-name dropdown-indicator">{{ data.id}}</div>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                            <div class="user-card">
                                <div class="user-avatar">
                                    <span>Ac</span>
                                </div>
                                <div class="user-info">
                                    <span class="lead-text">{{ data.id }}</span>
                                    <span class="sub-text">{{data.email}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-inner">
                            <ul class="link-list">
                                <li><a href="html/user-profile-regular.html"><em
                                            class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                            </ul>
                        </div>
                        <div class="dropdown-inner">
                            <ul class="link-list">
                                <li><a style="cursor:pointer" (click)="logout()"><em
                                            class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- .nk-header-wrap -->

    <!-- main header @e -->