.enroll-button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 8px 13px; /* Add some padding */
    font-size: 14px; /* Set a font size */
    border: none; /* Remove the border */
    cursor: pointer; /* Change cursor style on hover */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
  }
  
  .enroll-button:hover {
    background-color: #3e8e41; /* Darken the background color on hover */
  }
  .claim-certificate-button {
    margin-left: 50%;
    background-color: #4caf50;
    border-color: #4caf50;
}

.claim-certificate-button:hover {
    background-color: #388e3c;
    border-color: #388e3c;
}