
<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Projects</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total 95 projects.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="drodown">
                                                <a href="#"
                                                    class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                                    data-bs-toggle="dropdown"><em
                                                        class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filtered
                                                        By</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li *ngFor="let c of categories"><a
                                                                href="#"><span>{{c.nom}}</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-sm-6 col-lg-4 col-xxl-3" *ngFor="let f of formation ; let i=index">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="project">
                                        <div class="project-head">
                                            <a (click)="redirect(f)" class="project-title">
                                                <div class="user-avatar sq bg-purple"><span
                                                        style="text-transform: uppercase;">{{f.nomFormation[0]}}{{f.nomFormation[1]}}</span>
                                                </div>
                                                <div class="project-info">
                                                    <h6 class="title">{{f.nomFormation}}</h6>
                                                    <div class="project-meta">
                                                        <span class="sub-text">WorkWave Academy</span>

                                                        <span class="badge badge-dim bg-warning"><em
                                                                class="icon ni ni-clock"></em><span>{{f.duree}}
                                                            </span></span>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                        <div class="project-details">
                                            <p>{{f.description}}</p>
                                        </div>
                                        <div *ngIf="hasEnrolled(f) && verifyCompletion(f) ">
                                            <div class="project-progress">
                                                <div class="project-progress-details">
                                                    <div class="project-progress-task">
                                                        <em class="icon ni ni-check-round-cut"></em>
                                                        <span>{{getCompletionPercent(f)/25}} Cours</span>
                                                    </div>
                                                    <div class="project-progress-percent">{{getCompletionPercent(f)}}%
                                                    </div>
                                                </div>
                                                <div class="progress progress-pill progress-md bg-light">
                                                    <div class="progress-bar"
                                                        [style.width]="getCompletionPercent(f)+'%'"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <button *ngIf="!hasEnrolled(f)" (click)="enroll(f)"
                                            class="btn btn-primary enroll-button"
                                            style="  margin-left: 80%;">Enroll</button>
                                        <!-- <button *ngIf="!verifyCompletion(f)" (click)="generateCertificatePDF(f )"
                                            class="btn btn-primary enroll-button" style="  margin-left: 60%;">Claim
                                            Certificate</button> -->
                                        <button *ngIf="!verifyCompletion(f)" 
                                            class="btn btn-primary enroll-button" style="  margin-left: 60%;">Claim
                                            Certificate</button>

                                        <!-- <button *ngIf="hasClaimedCertificate(f)"
                                            class="btn btn-primary enroll-button claim-certificate-button"
                                            style="  margin-left: 50%;">Claim
                                            Certificate</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content @e -->
    <!-- content @e -->
    <!-- <app-create-courses></app-create-courses>
    <app-edit-courses></app-edit-courses>
    <app-delete-courses></app-delete-courses> -->
</div>